.PopOut.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.PopOut .popout-container {
  padding: 24px 16px 8px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--bcg-body-clr);
  -webkit-box-shadow: 0 1px 3px 0 var(--box-shadow);
  box-shadow: 0 1px 3px 0 var(--box-shadow);
  border-radius: 6px;
}

.PopOut .textarea-container {
  width: 100%;
}
.PopOut .textarea-container textarea {
  padding: 2px;
  border: none;
  -webkit-box-shadow: 0 1px 3px 0 var(--box-shadow);
  box-shadow: 0 1px 3px 0 var(--box-shadow);
  border-radius: 6px;
}

.PopOut .button-container {
  padding: 8px 0;
}

.PopOut .button-container button {
  padding: 4px 8px;
  cursor: pointer;
  background-color: rgba(255, 217, 34, 0.5);
  border: 1px solid rgba(255, 217, 34, 0.5);
  border-radius: 8px;
  transition: all 1s ease-out;
  font-weight: 700;
}

.PopOut .button-container button:hover {
  background-color: var(--bcg-header-clr);
  border: 1px solid var(--bcg-header-clr);
}

.PopOut .button-container button:focus {
  outline: none;
  color: var(--bcg-header-clr);
  background-color: var(--menu-clr);
  border: 1px solid var(--menu-clr);
}

@media only screen and (min-width: 576px) {
  .PopOut .popout-container {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .PopOut .popout-container {
    width: 85%;
  }
}

@media only screen and (min-width: 992px) {
  .PopOut .popout-container {
    width: 75%;
  }
}

@media only screen and (min-width: 1200px) {
  .PopOut .popout-container {
    width: 65%;
  }
}
