.ToClipboard .textarea-container {
  width: 100%;
}
.ToClipboard .textarea-container textarea {
  padding: 2px;
  border: none;
  -webkit-box-shadow: 0 1px 3px 0 var(--box-shadow);
  box-shadow: 0 1px 3px 0 var(--box-shadow);
  border-radius: 6px;
}

.ToClipboard .button-container {
  padding: 8px 0;
}

.ToClipboard .button-container button {
  padding: 4px 8px;
  cursor: pointer;
  background-color: rgba(255, 217, 34, 0.5);
  border: 1px solid rgba(255, 217, 34, 0.5);
  border-radius: 8px;
  transition: all 1s ease-out;
  font-weight: 700;
}

.ToClipboard .button-container button:hover {
  background-color: var(--bcg-header-clr);
  border: 1px solid var(--bcg-header-clr);
}

.ToClipboard .button-container button:focus {
  outline: none;
  color: var(--bcg-header-clr);
  background-color: var(--menu-clr);
  border: 1px solid var(--menu-clr);
}
