.Card {
  margin: 8px 0;
  padding: 16px 16px;
  background: var(--white);
  -webkit-box-shadow: 0 1px 3px 0 var(--box-shadow);
  box-shadow: 0 1px 3px 0 var(--box-shadow);
  border-radius: 6px;
}

.Card > summary {
  border-radius: 6px;
  transition: all 0.7s linear;
}

.Card .card-title {
  position: relative;
}

.Card .card-title:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  border-bottom: 3px solid var(--white);
  animation: underline-normal 0.5s linear forwards;
  border-bottom: 3px solid var(--bcg-header-clr);
  width: 100%;
}

.Card > summary:hover .card-title:after {
  animation: underline-hover 0.3s linear forwards;
}

.Card .summary-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  margin: 0 8px;
  padding: 4px 0;
}

.Card .summary-row:first-of-type {
  min-height: 40px;
}
.Card .summary-row:last-of-type {
  min-height: 15px;
}

.Card .icons .icon {
  padding: 0 6px;
  font-size: 12px;
}

.Card .icons .icon:hover > i {
  transform: scale(1.2);
}

@keyframes underline-hover {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes underline-normal {
  100% {
    width: 0;
  }
  0% {
    width: 100%;
  }
}
