.Card {
  margin: 8px 0;
  padding: 16px 16px;
  background: var(--bcg-header-clr);
  -webkit-box-shadow: 0 1px 3px 0 var(--box-shadow);
  box-shadow: 0 1px 3px 0 var(--box-shadow);
  border-radius: 6px;
}

.Card .summary-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
}

.Card .summary-row:first-of-type {
  min-height: 40px;
}
.Card .summary-row:last-of-type {
  min-height: 15px;
}

.Card .icons .icon {
  padding: 0 6px;
  font-size: 12px;
}

.Card .icons .icon:hover > i {
  transform: scale(1.2);
}
