.EmbeddedChart {
  min-width: 100%;
}

.EmbeddedChart > iframe {
  min-height: 100vh;
}

.EmbeddedChart label {
  font-size: 0.8em;
  padding-right: 4px;
}

.EmbeddedChart .button-container {
  display: flex;
  flex-direction: column;
}

.EmbeddedChart img {
  width: 100%;
  display: block;
}
