.EmbeddedChart {
  min-width: 100%;
}

.EmbeddedChart > iframe {
  min-height: 120vh;
  max-width: 1140px;
}

.EmbeddedChart label {
  font-size: 0.8em;
  padding-right: 4px;
}

.EmbeddedChart .button-container {
  display: flex;
  flex-direction: column;
}

.EmbeddedChart img {
  width: 100%;
  display: block;
  margin: 4px 0;
}

.EmbeddedChart label {
  margin-bottom: 4px;
}

.EmbeddedChart select {
  padding: 4px 0;
  font-size: 1em;
  margin-bottom: 8px;
}

.EmbeddedChart button {
  padding: 8px 16px;
  background-color: var(--bcg-body-clr);
  border-radius: 8px;
  color: var(--menu-clr);
  border: 2px solid var(--menu-clr);
  cursor: pointer;
  transition: all 1.2s;
  display: block;
  margin: 0 auto;
}

.EmbeddedChart button:hover,
.EmbeddedChart button:focus {
  background-color: var(--menu-clr);
  border-radius: 8px;
  color: var(--bcg-body-clr);
  border-color: var(--bcg-body-clr);
}

.EmbeddedChart .image-container {
  margin: 8px 0;
}
