.EmbeddedChart {
  min-width: 100%;
}

.EmbeddedChart > iframe {
  min-height: 120vh;
  max-width: 1140px;
}

.EmbeddedChart label {
  font-size: 0.8em;
  padding-right: 4px;
}

.EmbeddedChart .button-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.EmbeddedChart .button-container .select-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.EmbeddedChart img {
  width: 100%;
  display: block;
  margin: 4px 0;
}

.EmbeddedChart label {
  margin-bottom: 4px;
}

.EmbeddedChart select {
  color: var(--menu-clr);
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  margin-bottom: 8px;
  border-color: var(--box-shadow);
}

.EmbeddedChart select:focus {
  color: var(--black);
  outline: 0;
  border-color: var(--box-shadow);
  -webkit-box-shadow: 0 0 0 0.15rem var(--box-shadow);
  box-shadow: 0 0 0 0.15rem var(--box-shadow);
}

.EmbeddedChart button {
  padding: 8px 16px;
  background-color: var(--bcg-body-clr);
  border-radius: 8px;
  color: var(--menu-clr);
  border: 2px solid var(--menu-clr);
  cursor: pointer;
  transition: all 1.2s;
  display: block;
  margin: 0 auto;
}

.EmbeddedChart button:hover,
.EmbeddedChart button:focus {
  background-color: var(--menu-clr);
  border-radius: 8px;
  color: var(--bcg-body-clr);
  border-color: var(--bcg-body-clr);
}

.EmbeddedChart .image-container {
  margin: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EmbeddedChart .Screenshot.loader-container {
  width: 100%;
  height: 420px;
}

@media only screen and (min-width: 360px) {
  .EmbeddedChart .button-container .select-container {
    width: initial;
    margin-right: 8px;
  }
}
