.Footer {
  height: 8vh;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  z-index: 100;
}

.Footer > .free-icons-credit {
  font-size: 0.7em;
  color: var(--menu-clr);
}
