/* HEADER */
.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  background-color: var(--bcg-header-clr);
  display: flex;
  align-items: center;
  z-index: 100;
}

.Header > .logo {
  margin-left: 1em;
}

/* HAMBURGER */
.🍔 {
  width: 36px;
  height: 30px;
  padding: 5px 6px;
  margin-right: -3px;
  position: absolute;
  right: 15px;
  z-index: 500;
  cursor: pointer;
}

.🍔 .line {
  height: 2px;
  width: 24px;
  background: var(--black);
}

.🍔 .line + .line {
  margin-top: 7px;
}

/* NAVIGATION */
.nav-container {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  left: 100%;
  z-index: 400;
  background: var(--bcg-header-clr);
  padding: 20px 0 0 15px;
  overflow: auto;
  transition: all 0.4s ease-in-out;
  will-change: transform;
}

.nav-container .nav-heading {
  margin-bottom: 18px;
  font-size: 21px;
  font-weight: 700;
}

.nav-link {
  position: relative;
  padding: 9px 0;
  text-decoration: none;
  color: var(--menu-clr);
  transition: all 0.4s linear;
  /* border: solid 2px black; */
}

.nav-link:focus,
.nav-link:hover {
  color: var(--black);
  outline: none;
}

/* OPEN MENU */
body.menuOpen {
  overflow: hidden;
}

.menuOpen .nav-container {
  transform: translateZ(0);
  animation: open-nav-container 1s 0.05s ease-out forwards;
  will-change: transform;
  z-index: 400;
}

.menuOpen .backdrop-sidebar {
  animation: open-backdrop 1s ease-out forwards;
}

.menuOpen .🍔 .line-1 {
  animation: line1 0.6s;
  transform: translate3d(0, 9px, 0) rotate(-45deg);
  will-change: transform;
}

.menuOpen .🍔 .line-2 {
  opacity: 0;
  animation: line2 0.6s;
  will-change: opacity;
}

.menuOpen .🍔 .line-3 {
  animation: line3 0.6s;
  transform: translate3d(0, -9px, 0) rotate(45deg);
  will-change: transform;
}

/* CLOSING MENU */
.closingMenu .backdrop-sidebar {
  animation: close-backdrop 1s 0.05s ease-out forwards;
}

.closingMenu .nav-container {
  animation: close-nav-container 1s ease-out forwards;
}

.closingMenu .🍔 .line-1 {
  -webkit-animation: line1-closing 0.6s;
  animation: line1-closing 0.6s;
  -webkit-transform: translateZ(0) rotate(0deg);
  transform: translateZ(0) rotate(0deg);
  will-change: transform;
}

.closingMenu .🍔 .line-2 {
  opacity: 1;
  -webkit-animation: line2-closing 0.6s;
  animation: line2-closing 0.6s;
  will-change: opacity;
}

.closingMenu .🍔 .line-3 {
  -webkit-animation: line3-closing 0.6s;
  animation: line3-closing 0.6s;
  -webkit-transform: translateZ(0) rotate(0deg);
  transform: translateZ(0) rotate(0deg);
  will-change: transform;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
  .nav-container {
    position: initial;
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .nav-heading,
  .🍔 {
    display: none;
  }

  .nav-link {
    margin: 0 0.5em;
  }
}

/* MENU OPEN ANIMATIONS */
@keyframes line1 {
  0% {
    transform: translateZ(0) rotate(0deg);
  }

  50% {
    transform: translate3d(0, 9px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 9px, 0) rotate(-45deg);
  }
}

@keyframes line2 {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 0;
  }
}

@keyframes line3 {
  0% {
    transform: translateZ(0) rotate(0deg);
  }
  50% {
    transform: translate3d(0, -9px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, -9px, 0) rotate(45deg);
  }
}

@keyframes open-backdrop {
  100% {
    left: 0;
  }
}

@keyframes open-nav-container {
  100% {
    left: 33%;
  }
}

/* CLOSING MENU ANIMATIONS */
@keyframes line1-closing {
  0% {
    -webkit-transform: translate3d(0, 9px, 0) rotate(-45deg);
    transform: translate3d(0, 9px, 0) rotate(-45deg);
  }
  50% {
    -webkit-transform: translate3d(0, 9px, 0) rotate(0deg);
    transform: translate3d(0, 9px, 0) rotate(0deg);
  }
  to {
    -webkit-transform: translateZ(0) rotate(0deg);
    transform: translateZ(0) rotate(0deg);
  }
}

@keyframes line2-closing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes line3-closing {
  0% {
    -webkit-transform: translate3d(0, -9px, 0) rotate(45deg);
    transform: translate3d(0, -9px, 0) rotate(45deg);
  }
  50% {
    -webkit-transform: translate3d(0, -9px, 0) rotate(0deg);
    transform: translate3d(0, -9px, 0) rotate(0deg);
  }
  to {
    -webkit-transform: translateZ(0) rotate(0deg);
    transform: translateZ(0) rotate(0deg);
  }
}

@keyframes close-backdrop {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes close-nav-container {
  0% {
    left: 33%;
  }
  100% {
    right: -100%;
    left: 100%;
  }
}
