.List {
  margin: 16px auto;
  width: 95%;
}

.post {
  margin: 8px 0;
  padding: 8px 16px;
  background-color: var(--white);
  -webkit-box-shadow: 0 1px 3px 0 var(--box-shadow);
  box-shadow: 0 1px 3px 0 var(--box-shadow);
  border-radius: 6px;
}

.post .text {
  margin: 0.75em 0;
}

.post .text + ul {
  margin: 0.5em 0 0 2em;
}

.post .section-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

textarea {
  width: 100%;
  resize: vertical;
}
.textwrapper {
  border: 1px solid #999999;
  margin: 5px 0;
  padding: 3px;
}

.text-area-btn-container {
  display: flex;
}

.twitter-hashtag-button {
  margin: 0 8px;
}

@media only screen and (min-width: 576px) {
  .List {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .List {
    width: 75%;
  }
}

@media only screen and (min-width: 992px) {
  .List {
    width: 60%;
  }
}
@media only screen and (min-width: 1200px) {
  .List {
    width: 50%;
  }
}
