.List {
  margin: 16px auto;
  width: 95%;
}

.List p {
  margin: 1em 0;
}

.post {
  margin: 8px 0;
  padding: 8px 16px;
  background-color: var(--white);
  -webkit-box-shadow: 0 1px 3px 0 var(--box-shadow);
  box-shadow: 0 1px 3px 0 var(--box-shadow);
  border-radius: 6px;
}

.post > span > ul {
  margin: 0 0 0 2em;
}

@media only screen and (min-width: 576px) {
  .List {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .List {
    width: 75%;
  }
}

@media only screen and (min-width: 992px) {
  .List {
    width: 60%;
  }
}
@media only screen and (min-width: 1200px) {
  .List {
    width: 50%;
  }
}
