.List {
  margin: 16px auto;
  width: 95%;
}

.List p {
  margin: 1em 0;
}

.tweet {
  margin: 8px 0;
  padding: 8px 16px;
  background-color: var(--white);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

.tweet > span > ul {
  margin: 0 0 0 2em;
}

@media only screen and (min-width: 768px) {
  .List {
    width: 75%;
  }
}
