.MunPopOut {
  min-height: 70vh;
}

.MunPopOut .CancelButton {
  top: 12px;
  right: 12px;
}

.MunPopOut .children-container {
  background-color: var(--white);
  font-size: 0.9em;

  overflow-y: auto;
  max-height: 75vh;
  padding: 8px;
}

.MunPopOut li {
  padding-bottom: 8px;
}

@media only screen and (min-width: 576px) {
  .MunPopOut {
    min-height: 80vh;
  }

  .MunPopOut .CancelButton {
    top: 24px;
    right: 24px;
  }
}
