.Post {
  padding: 16px 8px;
  margin: 8px 0;
  background: var(--white);
  -webkit-box-shadow: 0 1px 3px 0 var(--box-shadow);
  box-shadow: 0 1px 3px 0 var(--box-shadow);
  border-radius: 6px;
  user-select: text;
}

.Post > p {
  margin: 4px 0;
}

.Post li {
  margin: 4px 0;
  padding: 0 26px;
}

.Post details {
  margin: 4px 0;
}
