code {
  background: lightgrey;
  padding: 0 8px;
  font-size: 0.9em;
  border-radius: 10px;
}

.RJV {
  margin: 8px 0;
  padding: 16px 0;
  min-height: 200px;
  min-width: 80%;
  font-size: 0.9em;
}

.RJV select,
.RJV input,
.RJV button {
  margin: 0 8px;
}

.rjv-options-container > section,
.rjv-options-container > div {
  margin: 8px;
  font-size: 0.9em;
}

.file-input {
  min-height: 24px;
}

.file {
  opacity: 0;
  width: 0.1px;
}

.file-input label {
  cursor: pointer;
}
