.Screenshots img {
  max-width: 295px;
}

.Screenshots h2 {
  font-size: 1em;
  margin-top: 16px;
  margin-bottom: 8px;
}

.Screenshots h2:first-of-type {
  margin-top: 0;
}

.Screenshots .buttons-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 8px;
}

.Screenshots > .cards,
.Screenshots > .charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

@media only screen and (min-width: 576px) {
  .Screenshots > .cards,
  .Screenshots > .charts {
    justify-content: space-between;
  }
}
