.Screenshots {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Screenshots h2 {
  font-size: 1em;
}

.Screenshots .buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 8px 0;
}

.Screenshots .multicard,
.Screenshots .cards,
.Screenshots .charts {
  max-width: 640px;
}

.Screenshots .screenshots-container img {
  max-width: 295px;
  margin: 4px 0;
}

.Screenshots .multicard .screenshots-container,
.Screenshots .cards .screenshots-container,
.Screenshots .charts .screenshots-container {
  padding: 8px 4px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Screenshots .screenshot-container {
  margin: 8px 0 0 0;
  padding: 4px;
}

.Screenshots .cards .screenshot-container {
  margin: 0 auto;
}

.Screenshots .ZipLink {
  margin: 0 4px;
}
