.Screenshot {
  font-size: 0.8em;
  margin: 16px 0;
}

.Screenshot.loader-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  min-width: 295px;
  min-height: 165px;
  background-color: var(--white);
  border-radius: 6px;
  margin: 4px 0;
}
