@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --basic-color: #ffffff;
}
.App {
  font-family: "Roboto", serif;
}

.container {
  margin: auto;
  width: 50%;
}

.container h1 {
  font-size: 60px;
  text-align: center;
  margin-top: -58px;
  color: var(--basic-color);
}

.text {
  font-weight: 400;
  letter-spacing: 0.05em;
}
.bold {
  font-weight: 600;
  font-style: bold;
}
.list-head {
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}
.footer {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
.list {
  list-style: none;
}

.top {
  height: 8vh;
  width: 100%;
  background-color: #ffd922;
}

.red {
  color: red;
}

@media only screen and (max-width: 1200px) {
  .container {
    margin: auto;
    width: 90%;
  }
}
.municipalities div {
  margin-top: 3px;
}

.logoCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
