.App {
  font-family: 'Roboto', serif;
}

/* BUTTONS */
.btn {
  padding: 4px 8px;
  font-size: 11px;
  color: var(--white);
  background-color: var(--green-dark);
  border: solid 1px var(--green-dark);
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: all 1s ease-in-out;
  opacity: 0.85;
}

.btn.social {
  color: var(--white);
  background-color: #1877f2;
  border: solid 1px #1877f2;
}

.btn:hover {
  opacity: 1;
}

.btn:focus {
  opacity: 1;
  color: var(--green-dark);
  background-color: var(--white);
}

.btn.social:focus {
  opacity: 1;
  color: #1877f2;
  background-color: var(--white);
}

.btn.modal {
  font-size: 0.8em;
  padding: 4px 32px;
  margin: 0 4px;
}

.btn.modal.cancel {
  background-color: var(--red);
  border: solid 1px var(--red);
}

.btn.modal.cancel:focus {
  color: var(--red);
  background-color: var(--white);
  border: solid 1px var(--red);
}

.cities .btn {
  margin-top: 16px;
}

.logoCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.municipalities {
  list-style-type: none;
}

.municipalities div {
  margin-top: 3px;
}

.skeleton {
  background: var(--bcg-header-clr);
  border-radius: 10px;
  opacity: 0.2;
  animation: anim-skeleton 3s alternate infinite;
  line-height: 1.35;
}

@keyframes anim-skeleton {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.35;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.35;
  }
  100% {
    opacity: 0.2;
  }
}
