:root {
  --red: #dc3545;
  --white: #fff;
  --black: #000;
  --green: #28a745;
  --green-dark: #1c5312;
  --bcg-header-clr: #ffd922;
  --bcg-body-clr: #f5f5f0;
  --menu-clr: rgba(0, 0, 0, 0.56);
  --box-shadow: rgba(0, 0, 0, 0.15);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 0.85em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (min-width: 576px) {
  body {
    font-size: 1em;
  }
}
