:root {
  --red: #dc3545;
  --white: #fff;
  --black: #000;
  --green: #28a745;
  --green-dark: #1c5312;
  --bcg-header-clr: #ffd922;
  --bcg-body-clr: #f5f5f0;
  --menu-clr: rgba(0, 0, 0, 0.56);
  --box-shadow: rgba(0, 0, 0, 0.15);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 0.85em;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: var(--bcg-body-clr);
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  outline: none;
}

button {
  font-family: 'Roboto';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  min-height: 84vh;
  margin-top: 8vh;
  z-index: 100;
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  cursor: pointer;
}

summary:hover {
  opacity: 0.8;
}

summary:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
  background: rgba(201, 201, 201, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(201, 201, 201, 0.5);
  border: solid 1px rgba(201, 201, 201, 0.75);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(201, 201, 201, 1);
}

@media only screen and (min-width: 576px) {
  body {
    font-size: 1em;
  }
}
